<div id="card-container" class="{% if view_mode == 'list' %}flex flex-col gap-4{% else %}grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6{% endif %}">
  {% for card in cards %}
  <div class="card bg-white rounded-lg overflow-hidden shadow-md hover:shadow-[0px_4px_8px_0px_rgba(0,_0,_0,_0.8)] transition-shadow duration-300 cursor-pointer {% if view_mode == 'list' %}flex items-center{% endif %}">

    <img class="card-img object-cover {% if view_mode == 'list' %}w-40 h-auto{% else %}w-full h-auto{% endif %}" src="{{ card.image_url }}" alt="{{ card.name }}">

    <div class="card-details p-4 {% if view_mode == 'list' %}text-left{% else %}text-center bg-purple-400 {% endif %}">
      <h3 class="font-bold truncate text-lg">{{ card.name }}</h3>
      <p class="text-sm mt-1">{{ card.card_type }}{% if card.monster_type %} - {{ card.monster_type }}{% endif %}</p>
    </div>

    <div id="card_{{card.id}}_div_buttons" class="card-buttons w-full py-2 px-4 flex items-center space-x-4 {% if view_mode == 'list' %}justify-end{% else %}justify-center{% endif %}"> 
      {% include "_card_buttons.html" %}
    </div>

  </div>
  {% endfor %}
</div>
