{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yu-Gi-World {% block subtitle %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{% static 'js/htmx.min.js' %}" defer></script>
  <script src="{% static 'js/config.js' %}" defer></script>
  <script src="{% static 'js/tailwind.min.js' %}" defer></script>
  <script src="{% static 'js/json.ext.min.js' %}" defer></script>

  <style>
    @keyframes spin {
      to { transform: rotate(360deg); }
    }
    .spinner {
      animation: spin 0.8s linear infinite;
    }
  </style>
</head>
<body 
  hx-boost="true" 
  hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
  class="bg-gray-100 font-sans leading-normal tracking-normal">

  <nav class="flex items-center px-8 py-4 bg-purple-900">
    <div class="flex-1">
    </div>

    <div class="space-x-4">

      <div class="relative inline-block text-left">
  
        <div>
            <button type="button" id="dropdown-button" class="inline-flex items-center justify-center w-full text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors">
            Listar cartas
            <svg id="menu-arrow-icon" class="self-end ml-2 -mr-1 h-5 w-5 transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      
        <div id="dropdown-menu" class="origin-top-right absolute left-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden z-10">
          <div class="py-1">
            <a 
              href="{% url 'card_list_filtered' list_type='all' %}" 
              hx-get="{% url 'card_list_filtered' list_type='all' %}" 
              hx-target="#main-content" 
              hx-push-url="true"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
            >Todas as cartas</a>
            <a 
              href="{% url 'card_list_filtered' list_type='user_cards' %}" 
              hx-get="{% url 'card_list_filtered' list_type='user_cards' %}" 
              hx-target="#main-content" 
              hx-push-url="true"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
            >Minhas cartas</a>
            <a 
              href="{% url 'card_list_filtered' list_type='wishlist' %}" 
              hx-get="{% url 'card_list_filtered' list_type='wishlist' %}" 
              hx-target="#main-content" 
              hx-push-url="true"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
            >Lista de desejos</a>
          </div>
        </div>
      </div>

      <a 
        href="{% url 'offers' %}" 
        hx-get="{% url 'offers' %}" 
        hx-target="#main-content" 
        hx-push-url="true"
        class="text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors"
      >Ofertas</a>

      <a 
        href="{% url 'select' %}" 
        hx-get="{% url 'select' %}" 
        hx-target="#main-content" 
        hx-push-url="true"
        class="text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors"
      >Fazer oferta</a>

      <a 
        href="{% url 'exchanges' %}" 
        hx-get="{% url 'exchanges' %}" 
        hx-target="#main-content" 
        hx-push-url="true"
        class="text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors"
      >Histórico</a>
    </div>

    <div class="flex-1 text-right">
      <a
      href="{% url 'logout' %}"
      hx-get="{% url 'logout' %}"
      hx-target="body"
      hx-push-url="true"
      class="self-end text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors"
    >Sair</a> 
    </div>
  </nav>

  <main id="main-content" class="container mx-auto px-4 py-8">
    {% if page == 'card_list' %}
      {% include 'card_list.html' %}
    {% elif page == 'offers' %}
      {% include 'offers.html' %}
    {% elif page == 'select' %}
      {% include 'select_cards.html' %}
    {% elif page == 'exchanges' %}
      {% include 'exchanges.html' %}
    {% else %}
      {% block main %}{% endblock %}
    {% endif %}
  </main>

  <footer class="text-center mt-12 py-4 text-gray-800">
    © 2025 Yu-Gi-World (UFRGS)
  </footer>
</body>
</html>