{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yu-Gi-World {% block subtitle %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{% static 'js/htmx.min.js' %}" defer></script>
  <script src="{% static 'js/config.js' %}" defer></script>
  <script src="{% static 'js/tailwind.min.js' %}" defer></script>
  <script src="{% static 'js/json.ext.min.js' %}" defer></script>

  <!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->

  <style>
    @keyframes spin {
      to { transform: rotate(360deg); }
    }
    .spinner {
      animation: spin 0.8s linear infinite;
    }
  </style>
</head>
<body 
  hx-boost="true" 
  hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
  class="bg-gray-100 font-sans leading-normal tracking-normal">
  
  <nav class="text-center py-4 bg-purple-900">
    <div class="space-x-4">
      <a href="/" 
        hx-get="{% url 'home' %}" 
        hx-target="#main-content" 
        hx-push-url="true"
        class="text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors">
        Home
      </a>
      <a href="/card_list" 
        hx-get="{% url 'card_list' %}" 
        hx-target="#main-content" 
        hx-push-url="true"
        class="text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors">
        List All
      </a>
      <a href="/select" 
        hx-get="{% url 'select' %}" 
        hx-target="#main-content" 
        hx-push-url="true"
        class="text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors">
        Select Cards
      </a>
      <a href="/exchanges" 
        hx-get="{% url 'exchanges' %}" 
        hx-target="#main-content" 
        hx-push-url="true"
        class="text-white font-bold py-2 px-4 rounded hover:bg-purple-700 transition-colors">
        Exchange Cards
      </a>
    </div>
  </nav>
    
  <main id="main-content" class="container mx-auto px-4 py-8">
    {% block main %}{% endblock %}
  </main>

  <footer class="text-center mt-12 py-4 text-gray-800">
    © 2025 Yu-Gi-World (UFRGS)
 </footer>
</body>
</html>