  <div class="text-center pt-12 mx-auto">
    <h1 class="text-4xl md:text-5xl font-bold text-purple-900 mb-6">
      List of Yu-Gi-Oh Cards
    </h1>
  </div>
  <hr class="border-t border-gray-200 my-6">

  <div class="flex justify-end items-center mb-4">
    <span class="mr-3 font-medium text-gray-700">Visualizar como:</span>
    
    <button id="list-view-btn" class="p-2 rounded-md text-gray-500 hover:bg-gray-200 hover:text-gray-800 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
        </svg>
    </button>
    
    <button id="grid-view-btn" class="p-2 rounded-md text-purple-700 bg-purple-100 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
        </svg>
    </button>
  </div>
  
  <div id="card-display-area">
    {% include "_card_grid.html" %}
  </div>