{% extends "base.html" %}
{% load partials %}

{% block subtitle %}: Exchange{% endblock %}

{% block main %}
  {% partialdef make-exchange-partial inline %}
  <div class="title exchanges">
    <h1>Exchange Yu-Gi-Oh Cards</h1>
  </div>
  
  <div> 
    <h3> Selected cards </h3>
    <!-- Mostrar as cartas selecionadas -->
  </div>

  <hr>
  
  <div>
    <h3> Choose the cards you want to exchange </h3>
    <!-- Mostrar as cartas que o usuário tem e selecionar elas-->
  </div>
  {% endpartialdef make-exchange-partial %}
{% endblock %}