<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Make Exchange</title>

  <style>

    .title {
      text-align: left;
      font-family: system-ui;
      font-size: 20px;
      color: rgb(0, 0, 0);
    }

    hr {
      margin-top: 20px;
      margin-bottom: 0px;
      color: black;
    }

    h3 {
      text-align: left;
      font-family: system-ui;
      font-size: 20px;
      color: rgb(0, 0, 0);
    }

  </style>

</head>

<body>
  <div class="title">
    <h1> Make Exchange</h1>
  </div>
  
  <div> 
    <h3> Selected cards </h3>
    <!-- Mostrar as cartas selecionadas -->
    {% for card in cards %}
    <label class="card-label">
      {{ card.name }}
    </label>
    <br>
    {% endfor %}
  
  </div>

  <hr>
  
  <div>
    <h3> Choose the cards you want to exchange </h3>
    <!-- Mostrar as cartas que o usuário tem e selecionar elas-->

  </div>
</body>